.main-content {
  background: #F6F3F3;

  img {
    height: 100%;
  }
}

.container-spacy {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.container-centered {
  text-align: center;
}

ul.list-inline {
  margin-left: 0;

  li {
    display: inline-block;
  }
}